
@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://fonts.googleapis.com/css?family=Linden+Hill');

body {
	/*background-color: #578CA9;*/
	font-family: 'Inter UI', Arial, Geneva, Helvetica sans-serif;
	font-size: 16px;
	color: #262626;
	line-height: 1.6em;
}

header {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

h1 {
	font-family: 'Linden Hill', serif;
	font-size: 4em;
	letter-spacing: 0.1em;
}

h3 {
	font-family: 'Linden Hill', serif;
	font-size: 2.5em;
	letter-spacing: 0.05em;
	color: #404040;
	margin: 1em 0em;
}

i {
	color: #404040;
}

a:link, a:visited {
    color: #262626;
}

a:hover, a:active {
    background-color: yellow;
}

nav {
	width: 100%;
	display: flex;
	justify-content: center;

}

nav ul {
	margin: 5%;
    padding: 2px;
    list-style-type: none;
}

nav li {
	display: inline;
	font-size: 1.4em;
}

nav a {
	margin:10px;
	border: ;
	padding:10px;
	text-decoration: none;
}

/*
#upBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#upBtn:hover {
    background-color: #555;
}
*/

#banner {
	background-color: #223A5E;
	margin-top: 30px;
}

#banner img {
	width: 60%;
	padding: 10px 20%;
}

.wrapper {
	background-color: lightgray;
	
}

#about {
	width: 60%;
	padding: 5% 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.spotlight {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 30px 15px;
	padding: 20px;
}

.spotlight .icon {
	display: inline;
	width: 67px;
	height: 67px;
	margin: auto;
	padding: 50px;
	border: 2px red solid;
	border-radius: 50%;
}

.spotlight h3 {
	text-align: center;
}

#photo {
	background-color: #b0aac0;
}

#philo {
	background-color: #bdcebe;
}

#comp {
	background-color: #b7d7e8;
}

#other {
	background-color: #EDCDC2;
}

#qualifications {
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #8ca3a3;
}

#qualifications h3 {
	text-align: center;
}

table {
	width: 90%;
	margin: 5%;
	font-size: 0.9em;
}

th, td {
	vertical-align: top;
	padding: 5px;
	border-bottom: 1px solid gray;
}

footer a:hover, a:active {
	background-color: #f2e394;
}

#contact {
	background-color: gray;
	padding: 20px;
}

#contact h3 {
	text-align: center;
}

#contact div{
	width: 100%;
	height: auto;
	display: flex;
  	justify-content: center;
}

#contact form {
	background-color: #e3e0cc;
	width: 50%;
	margin: 15px;
	padding: 15px;
}

#contact input[type=text], input[type=email] {
	width: 75%;
	padding: 7px 15px;
	box-sizing: border-box;
	border: 1px solid #c5d5c5;
    border-radius: 2px;
}

#contact input[type=submit] {
	color: #c5d5c5;
	background-color: gray;
	width: 33%;
	padding: 7px 15px;
	box-sizing: border-box;
	border: 1px solid #c5d5c5;
    border-radius: 2px;
}

#contact textarea {
	width: 100%;
	height: 75px;
	padding: 7px 15px;
	box-sizing: border-box;
	border: 1px solid #c5d5c5;
    border-radius: 2px;
	resize: none;
}

#accounts {
	background-color: #f2e394;
}

#accounts div {
	width: 100%;
	height: auto;
	display: flex;
  	justify-content: center;
}

#accounts ul {
	list-style-type: none;
	max-width: 600px;
	margin: 0;
	padding: 0;
}

#accounts li {
	display: inline;
}

#accounts img {
	width: 26%;
	margin: 3%;
}

#copy {
	color: gray;
	background-color: darkgray;
	padding: 15px;
}


@media screen and (max-width: 699px) {

	nav li {
		display: block;
		font-size: 1.4em;
		margin: 15px;
	}

	#about {
		width: 90%;
		padding: 5% 5%;
	}

	#contact form {
		width: 90%;
		padding: 20px;
	}

}

@media screen and (max-width: 480px) {
    
    body {
        
    }

    h1 {
    	font-size: 2em;
    }

    h3 {
    	font-size: 1.7em;
    }

	#about {
		width: 100%;
		padding: 0%;
	}

    .spotlight {
		margin: 0px 0px;
		padding: 30px;
	}

	.spotlight .icon {
		display: inline;
		width: 67px;
		height: 67px;
		margin: auto;
		padding: 0px;
		border: 0px;
	}

	table {
		width: 100%;
		margin: 0%;
		font-size: 0.8em;
	}

	table, th, td {
		border: 1px gray solid;
		border-collapse: collapse;
	}

	#contact {
		padding: 0px;
	}

	#contact form {
		width: 100%;
		margin: 0px;
		padding: 20px;
	}

	#contact input[type=text], input[type=email] {
		width: 100%;
	}

	#contact input[type=submit] {
		width: 100%;
	}

}


