.parallax {
  perspective: 1px;
  height: 48vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f2e394;
  background-image: linear-gradient(#f2e394, darkgray);
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--fore {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-0.7px) scale(1.85);
}

.parallax__layer > div {
  width: 100%;
  height: 15px;
}

.parallax__layer > div:nth-child(even) {
  background-color: gray;
  padding: 1px;
  box-shadow: 0px 0px 10px 0px lightblue;
}

